<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Page Not Found</title>
    <style>
      html { background-image: linear-gradient(#c50, #3a3b3c); background-repeat: no-repeat; background-attachment: fixed; color: white; font-family: helvetica; }
      a {text-decoration: none; color: white; background-color: black; padding: 30px; margin: 10px;}
      html * {animation-name: appear; animation-duration: 1s;}
      @keyframes appear {
        from {
          opacity: 0;
        }
  
        to {
          opacity: 1;
        }
      }
    </style>
  </head>
<body>
  <main>
    <h1>Whoops!</h1>
    <h2>Looks like you tried exploring the website and entered a bad URL!</h2>
    <h2>Please use the navagation buttons throughout the site.</h2>
  </main>
</body>
</html>